{% autoescape off %}
<input type="hidden" {{ data_input_attrs }} value='{{json_value}}'>
<div id="{{editor_div_id}}" style="height:400px;"></div>
<script type="text/javascript">
var jsoneditor_data_input = document.getElementById("{{data_input_id}}");
var jsoneditor_div = document.getElementById("{{editor_div_id}}");


var options = {
    "mode": "tree",
    "modes": ['code', 'form', 'text', 'tree', 'view'],
    change: function () {
        jsoneditor_data_input.value= editor.getText();
    }
};
var init_json = {{json_value}};
var editor = new JSONEditor(jsoneditor_div, options, init_json);
</script>
{% endautoescape %}
