{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JSON Editor Demo</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <form action="/your-name/" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" />
    </form>
  </div>
</body>
</html>
